/* LANDING PAGE */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Allerta Stencil', sans-serif;
    font-size: 3vw;
    text-align: center;
}

nav{
    background-color: rgb(236, 188, 78);
    height: 9vh;
    min-height: 70px;
    border-bottom: 1vh solid rgb(167, 117, 1);
}

nav #main-logo{
    position: relative;
    bottom: 1vh;
    height: 7vh;
    min-height: 55px;
    width: auto;
}

nav .beer-menu-icon{
    height: 6vh;
    min-height: 45px;
    width: auto;
}

nav button{
    position: relative;
    bottom: 1vh;
}

nav a{
    color: black;
}

nav a:hover{
    color: black;
}

nav li, nav ul{
    position: relative;
    bottom: 0.5vh;
    width: auto;
}

nav ul a{
    width: 40vw;
    float: right;
    color: black;
    background-color: rgb(236, 188, 78);
    border-top: 1px solid rgb(167, 117, 1);
}

nav ul a:hover{
    color: white;
    background-color: rgb(163, 131, 55);
}

header{
    height: 73vw;
    background: url("../img/header-bg.JPG") no-repeat center;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

header h1, header h2, header h3{
    display: inline-block;
    position: relative;
    bottom: 5vh;
    color:rgb(248, 233, 196);
    width: 40%;
    margin-left:3vw;
}

header h1{
    font-size: 8vw;
    padding-bottom: 1vh;
    border-bottom: 0.5vw solid rgb(248, 233, 196)
}

header h2{
    padding-top: 2vh;
    font-size: 5vw;
}

header h3{
    font-size: 3vw;
}

#ingredients h2{
    margin: 10vh auto 10vh;
    font-size: 4em;
}

.wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.wrapper article {
    width: 300px;
    margin: 0 12px 15vh 12px;
    padding: 40px 40px;
    font-size: 15px;
    border: 3px solid rgb(167, 117, 1);
    /*box-shadow: 10px 10px 5px rgb(139, 128, 102);*/
}

.icon{
    width: 120px;
    height: 120px;
    border-radius: 50%
}

.wrapper h3 {
    margin: 1% 0 15%;
    font-size: 2em;
    color: rgb(167, 117, 1);
}

.btn-outline-warning{
    color: rgb(167, 117, 1);
    border-color: rgb(167, 117, 1);
}

.btn-outline-warning:hover{
    color: white;
    background-color: rgb(167, 117, 1);
    border-color: white;
}

footer{
    padding: 5vh 5vw 0;
    background: rgb(236, 188, 78);
    color: black;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    font-size: 16px;
  }

footer div{
    width: 250px;
    margin: 3vh auto 2vh;
}
  
footer h5{
    font-size: 1.5em;
    font-weight: 400;
    margin-bottom: 2vh;
}

footer a{
    display: inline-block;
    font-size: 25px;
    color: black;
    text-decoration: none;
    transition: 0.5s;
}

footer a:hover{
    color:white;
    background-color: rgb(167, 117, 1);
    padding: 7px;
    border-radius: 5px;
    text-decoration: none;
}

footer a i{
    width: auto;
}

footer iframe{
    margin: 2vh auto 5vh;
    border: 5px rgb(19, 31, 32) solid;
    max-width: 500px;
}

@media (min-width: 768px){

    body{
        font-size: 16px;
    }

    #index-header{
        background: url("../img/header-bg-big.jpg") no-repeat left;
        background-size: cover;
        width:100%;
        align-items: flex-end;
    }
    
    #index-header h1, #index-header h2, #index-header h3{
        position: static;
        text-align: center;
        width: 50%;
        margin-right: 5vw;
    }

    #index-header h1{
        font-size: 9vw;
    }

    #index-header h2{
        font-size: 5vw
    }

    #index-header h3{
        font-size: 3vw;
    }

    #ingredients h2{
        width: 70vw;
        margin: 20vh auto 20vh;
        font-size: 4.5em;
    }
}

@media (min-width: 992px){

    nav{
        height: 15vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    nav #main-logo{
        position: static;
        height: 12vh;
    }
    
    nav a{
        font-size: 3vh;
        border-radius: 10px;
    }
    
    nav a:hover{
        color: black;
    }
    
    nav li, nav ul{
        position: static;
        width: auto;
        padding: 0 1vw;
    }
    
    nav ul a{
        width: auto;
        
        float: none;
        border: none;
    }

    #index-header{
        height: 85vh;
        font-size: 1em;
    }

    #index-header h1{
        font-size: 7vw;
    }

    #index-header h2{
        font-size: 4vw
    }

    #index-header h3{
        font-size: 2vw;
    }

    .wrapper article {
        width: 300px;
        margin: -3vh 12px 25vh 12px;
    }
}

/* SIGN UP FORM & LOG IN */

.signup{
    min-height: 100vh;
    background: url("../img/sign-up-bg.jpg") no-repeat center center;
    padding: 7vh 0;
}

.form-wrapper{
    margin: auto;
    width: 80%;
    max-width: 600px;
    border-radius: 3vh;
    border: 2px solid black;
    background-color: rgb(236, 188, 78, 0.85);
    padding-bottom: 10%;
}

.form-wrapper .logo {
    width: 65%;
    max-width: 200px;
    height: auto;
    opacity: 0.5;
}

.signup h2 {
    color: black;
    font-size: 8vw;
    margin: auto;
}

.form-wrapper h2 {
    margin: 0 auto 0;
    line-height: 1.3em;
    opacity: 0.5;
}

.form-wrapper form{
    font-size: 2em;
    margin: 5%;
}

.form-wrapper input{
    text-align: center;
    width: 90%;
    padding: 1vh 0;
    margin: 2% 5%; 
    background: rgb(248, 233, 196);
    border: 1px solid black;
    border-radius: 15vw;
    font-size: 0.6em;
}

.form-wrapper form div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-wrapper #over-age{
    width: 20px;
    height: 20px;
    margin: 0 inherit;
    padding: 0 inherit;
}

.form-wrapper label{
    margin-top: 5px;
    font-size: 0.5em;
}

.form-wrapper button{
    margin-top: 3vh;
    padding: 3%;
    width: 90%;
    border: 2px solid black;
    border-radius: 15vw;
    background:rgb(167, 117, 1);
    font-family: 'Allerta Stencil', sans-serif;
    font-size: 0.8em;
}

.form-wrapper .button-shape{
    display: inline-block;
    text-decoration: none;
    color: black;
    width: 83%;
    padding: 2.7%;
    margin: 2% auto;
    font-size: 1.7em;
    background: rgb(167, 117, 1);
    border: 2px solid black;
    border-radius: 15vw;
}

.form-wrapper .error p{
    font-size: 1rem;
}

.form-wrapper #security-bar{
    font-size: 1rem;
}

@media (min-width: 1000px){

    .form-wrapper{
        padding-bottom: 1%;
    }
    .form-wrapper h2 {
        font-size: 2em;
    }

    .form-wrapper form{
        font-size: 1.8em;
    }

    .form-wrapper input{
        width: 65%;
        margin: 1vh auto;
    }

    .form-wrapper button{
        width: 40%;
        margin-top: 2%;
        padding: 5px;
    }

    .form-wrapper #over-age{
        margin:10px;
    }

    .form-wrapper .button-shape{
        width: 37%;
        padding: 5px;
        font-size: 1.3em;
    }
}

/* CATALOGUE */

#beer-catalogue-title{
    text-align: left;
    padding: 3vh;
    font-size: 3rem;
}

#article-container{

    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.beer-container{
    width: 370px;
    margin: 30px 30px;
    padding: 10px 10px;
    border: 4px solid  rgb(167, 117, 1);
}

.beer-container h5{
    font-size: 28px;
}

.beer-data{
    display: flex;
    font-size: 16px;
}

.beer-image{
    width: 110px;
    height: 110px;
    margin: 5px;
    margin-right: 10px;
    border-radius: 5px;
}

.beer-data li{
    list-style: none;
    text-align: left;
}

.beer-container .fa-star{
    position: relative;
    top: 5px;
    font-size:20px;
    margin-left: 25px;
    color: grey;
    border: 1px solid grey;
    padding: 10px;
    border-radius: 5px;
}

.beer-container .favorite{
    color:rgb(167, 117, 1);
    border-color: rgb(167, 117, 1);
}

/* About us */

#our-vision{
    padding: 3vh 3vw;
}

#our-vision h2{
    margin: 6vh auto;
    font-size: 4em;
}

#our-vision article{
    padding:0;
    margin:-1px;;
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
    width: 400px;
    height: 100px;
    overflow: hidden;
}

#our-vision article h3{
    background-color: white;    

    margin:0;
    padding: 30px;
    transition: 1s;
}

#our-vision article h3:hover{
    font-size: 2.5em
}

#our-vision .moved{
    transform: translate(-350px)
}

#our-vision article p{
    margin:0;
    padding: 10px 20px 0 50px;
    font-size: 1em;
    position:relative;
    bottom: 100px;
    z-index: -1;
}

#about-us-header{
    background-image: url("../img/brewery-bg.jpg");
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

#about-us-header h1, #about-us-header h3{
    bottom: 25vw;
}

/* Landing page 2 */ 
#intro{
    padding: 10vh 11vw;
}
#intro h1{
    font-size: 6vw;
}

#intro p{
    font-size: 3vw;
    margin: auto;
}

@media (min-width: 1000px){
    #intro h1{
        font-size: 60px;
    }
    
    #intro p{
        font-size: 30px;
        margin: auto;
    }
}

#carousel{
    padding: 10vh 0;
}

#carousel .carousel-item{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

#carousel h3{
    font-size: 6vw;
    text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
}

#carousel a{
    font-size: 2vw;
    background-color: black;
    padding: 1vh 10vw;
    color:rgb(255, 226, 160);
    text-decoration: none;
}